body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #d0d1d3;
    background: url('https://cdn.pixabay.com/photo/2018/08/08/08/52/constellation-3591610_1280.jpg') bottom no-repeat;
    background-size: cover;
}